@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Global Styles */
h1 {
    font-size: 48px;
    line-height: normal;
}

h2 {
    font-size: 36px;
}

p {
    font-size: 18px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
    
}

nav {
    position: relative;

}

/* ------ custom styles ------- */

/* Hero section */
.nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding: 1%;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
}

.hero {
    background-color: #1f2937;
    padding: 10% 0%;
}

.heroFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 0px 50px;
    color: white;
    margin: auto;
    max-width: 1440px;
}

.leftFlex {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    height: 100%;
    width: 40%;
}

.rightFlex {
    width: 50%;
}

img {
    display: inline;
    width: 100%;
    height: auto;
    border-color: white;
}

.logoText {
    font-size: 24px;
}

.btnFilled {
    padding: 1.5% 5%;
    font-size: 16px;
    font-weight: 500;
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
}


/* info section */

.info {
    padding: 3% 0%;
    text-align: center;
    height: 500px;
}

.container {
    display: flex;
    max-width: 1440;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.box-wrapper {
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.box {
    height: 200px;
    width: 200px;
    border-color: rgb(0, 0, 0);
    border-width: 10px;
    border-width: 5px;
    border-style: solid;
}

/* quote section */

.quoteContainer {
    background-color: #e5e7eb;
}

.quoteBox {
    width: 60%;
    margin: auto;
    padding: 100px 0;
}


.quote {
    font-size: 36px;
    font-weight: 400;
}

.author {
    display: block;
    text-align: right;
}

/* CTA section */

.cta {
    padding: 5% 10%;

}

.boxbg {
    width: 80%;
    padding: 5%;
    font-size: 20px;
    background-color: #3882f6;
    color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ctaBtn {
    font-size: 16px;
    font-weight: 600;
    color: white;
    padding: 10px 30px;
    border: white;
    border-width: 2px;
    border-radius: 10px;
    border-style: solid;
    background-color: transparent;
    cursor: pointer;
    transition: all .3s;
}

.ctaBtn:hover {
    background-color: white;
    color: black;
}

